@using ExportarDocumentos.Models;
@model IEnumerable<Datos>

@{
    ViewData["Title"] = "Home Page";
}
<div class="btn-group">
  <a class="btn btn-success" asp-action="excel">Excel</a>
  <a class="btn btn-primary" asp-action="Word">Word</a>
  <a class="btn btn-danger" asp-action="pdf">PDF</a>
</div>
<div class="text-center">
    <h1 class="display-4">Lista de datos que se expotaran</h1>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">UserId</th>
      <th scope="col">Title</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
        <tr>
          <th scope="row">@item.id</th>
          <td>@item.userId</td>
          <td>@item.title</td>
          <td>@item.getComplete()</td>
        </tr>
    }
  </tbody>
</table>
