<section name="documento simple" class="card p-2">


<h2> Generar un documento en word</h2>
<p>
Trabajar con un documento en word es realmente fastidioso. pues hay que cubrir muchos detalles y generar este tipo de documentos lleva un buen tiempo.
</p>

<h3> El Nuget</h3>
<p>
Para generar esta se usa el nuget "Syncfusion.DocIORenderer.Net.Core"; para mayor informacion verificar la sigiente <a href="https://www.nuget.org/packages/Syncfusion.DocIORenderer.Net.Core/" alt="SyncFusion">direccion</a>
</p>
<p>
Por ahora es la mejor opcion que se tiene para generar los documentos de manera <i>gratuita</i>.
</p>

<h3> Como generar el documento.</h3>
<p>
como es de costumbre para generar documentos se abre un memory stream, se crea el documento y este se divide en secciones. cada elemento que se le desee agregar al documento como parrafos, tablas, titulos, entre otros se agregan a la seccion que a su ves esta agregada a al documento.
En resumen esta es la logica, pero se tiene un ejemplo detallado en la clase para verificar linea a linea como hacerlo



</section>

